.container {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 7rem;
    background-color: #F5F8F5;
    z-index: 2;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    z-index: 1000;
    cursor: pointer;
}

.shortcuts img {
    cursor: pointer;
}

.brandName {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    /* Example font size */
}

.brandName svg {
    scale: 1.2;
    fill: currentColor;
}

.navItems {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3vh;
    font-size: 1.2rem;
}

.shortcuts {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    font-size: 1rem;
    /* Example font size */
}

.shortcuts a {
    padding: 1vh 2vh;
    background: #5F7A69;
    border-radius: 1.5625rem;
    /* 25px to rem */
    width: 7rem;
    height: 7vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* Example font size */
}


.activeNavItem {
    color: #5F7A69;
    transition: 0.3s ease;
}



.navItems a:hover {
    color: #5F7A69;
    scale: 1.1;
    transition: 0.3s ease;

}


.burgerMenu {
    display: none;
}


@media (max-width: 768px) {

    .container {
        padding: 1rem 2rem;
        margin: 0;
        height: 10vh;
        justify-content: space-between;
    }

    .brandName {
        width: 40%;
        height: 100%;
    }

    .brandName svg {
        scale: 0.8;
        fill: #5F7A69 !important;
    }

    .navItems {
        display: none;
    }


    .shortcuts img:not(.basket) {
        display: none;
    }

    .shortcuts {
        width: 45%;
        gap: 10px;
    }


    .shortcuts a {
        display: flex;
        width: 109px;
        padding: 16px 24px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 999px;
    }


    .burgerMenu {
        display: block;
        scale: 1.4;
    }

 
}