.container {
    width: 87%;
    margin: 7vh auto;
}

.container>div {
    display: flex;
    justify-content: space-between;
}

.container>h3 {
    color: #040D08;
    font-family: Jost;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.6px;
    margin-bottom: 3vh;
}

.backBTN svg {
    display: none;
}


.backBTN {
    display: none;
}


@media screen and (max-width: 768px) {
    .container>div {
        display: flex;
        flex-direction: column;
        gap: 5vh;

    }

    .container>h3 {
        margin: 0;
    }


    .container {
        margin: 4vh auto;
    }

    .backBTN {
        margin-bottom: 4vh;
        cursor: pointer;
        display: block;
    }

    .backBTN svg {
        display: block;
    }
}